<div class="main">
  <div class="container" >
    <div class="screen">
      <div class="screen__content">
        <form class="login" >
          <div class="login__field">
            <button class="button login__submit" routerLink="vacancies" >
              <span class="button__text">Vakansiyalarni ko'rish</span>
<!--              <i class="button__icon fas fa-chevron-right"></i>-->
            </button>
<!--            <label class="vacancy_label">Mavjud bo'sh ish o'rinlar bo'yicha resume yuborish</label>-->
<!--            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selected vacancies" class="vacancy_field" -->
<!--            >-->

<!--              <nz-option class="vacancy_option" *ngFor="let vacancy of vacanciesBlock" nzLabel="{{vacancy.vacancyName}}"-->
<!--                         nzValue="{{vacancy.vacancyName}}"></nz-option>-->
<!--            </nz-select>-->
<!--            <i class="login__icon fas fa-user"></i>-->
<!--            <input type="text" class="login__input" placeholder="User name / Email">-->
          </div>
          <div class="login__field">
            <button class="button login__submit" routerLink="our" >
              <span class="button__text">Hech qanday yo'nalish tanlamasdan Resume yuborish</span>
<!--              <i class="button__icon fas fa-chevron-right"></i>-->
            </button>
<!--            <i class="login__icon fas fa-lock"></i>-->
<!--            <input type="password" class="login__input" placeholder="Password">-->
          </div>

        </form>
        <div class="social-login">
<!--          <h3>log in via</h3>-->
          <div class="logo">
            <img src="../../../assets/img.png">
          </div>
<!--          <div class="social-icons">-->
<!--            <a href="#" class="social-login__icon fab fa-instagram"></a>-->
<!--            <a href="#" class="social-login__icon fab fa-facebook"></a>-->
<!--            <a href="#" class="social-login__icon fab fa-twitter"></a>-->
<!--          </div>-->
        </div>
      </div>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>
    </div>
  </div>


</div>
