
.header {
    width: 100%;
    height: 80px;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: -1px 11px 5px -4px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: -1px 11px 5px -4px rgba(34, 60, 80, 0.6);
    box-shadow: -1px 11px 5px -4px rgba(34, 60, 80, 0.6);
    position: relative;
    z-index: 99;
    background: #fff;
}

.header-title {
    color: #0652cb;
    margin-top: 8px;
    cursor: pointer;
    //margin-left: 8px;
    font-size: 35px;
}

.header .logo {
    float: right;
}

.header .logo img {
    width: 250px;
}

//

.main {
    width: 100%;
    height: auto;
}

.content {
    width: 100%;
    padding: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

//box
.block{
    margin: 20px 0;
    width: 680px;
}
.box {
    margin: 10px 0;
    padding: 15px;
    height: auto;
    width: 680px;
    border: none;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 24px #877979;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box2 {
    margin: 10px 0;
    padding: 15px;
    height: auto;
    width: 100%;
    border: none;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%), 0 1px 3px 0 rgb(0 0 0 / 10%);
    position: relative;
}



//.box form .group-item,
//.box2 form .group-item {
//    margin: 15px 0;
//    height: 80px;
//    width: 100%;
//    display: block;
//}

//::ng-deep .p-col-6{
//    padding: 0 14px;
//}

i {
    cursor: pointer;
}
//
.box .group-item label,
.box2  .group-item label {
    display: block;
    color: #4C489D;
    font-weight: 600;
    margin-bottom: 5px;
}
.box2  .group-item,
.box  .group-item{
    height: 80px;
}
.box  .group-item input,
.box2  .group-item input {
    width: 100%;
}



::ng-deep .p-calendar .p-inputtext {
    width: 265px !important;
}

.p-invalid {
    display: block;
    color: red;
}

.search {
    margin-top: 10px;
    background: #162be4;
    float: right;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.search:hover {
    transition: .8s;
    border: 1px solid #162be4;
    background: none;
    color: #162be4;
}

.inputWrapper {
    height: 220px;
    width: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background: none;

    color: black;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
}

.fileInput {
    cursor: pointer;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 99;
    font-size:50px;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}



//::ng-deep input::-webkit-file-upload-button{
//    display: none;
//}




::ng-deep .inputWrapper  i.pi-camera{
    position: absolute;
    font-size: 68px !important;
    margin-top: 70px;
    margin-left: 120px;
}

::ng-deep .inputWrapper:hover {
    background: none;
    border: 1px solid blue;
    color: blue;
}


::ng-deep .p-button-label {
    display: block;
    width: 200px;
    font-weight: 700;
    font-size: 16px;
}

::ng-deep .p-button .p-button-icon-left {
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 40px;
}


.add-block {
    display: flex;
    justify-content: flex-end;
    gap: 0 10px;

    .p-button{
        width: 80px !important;
        float: right;
        background: #30A059;
    }

    .send{
        width: 150px !important;
    }
}


.delete-block {

    height: 50px;
   button{
       float: right;
       background: #fff;
       color: red;
       border: 1px solid red;
   }
}


