



//box
.block{
    margin: 20px 0;
    width: 680px;
}

.box2 {
    margin: 10px 0;
    padding: 15px;
    height: auto;
    width: 100%;
    border: none;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%), 0 1px 3px 0 rgb(0 0 0 / 10%);
    position: relative;
}



//.box form .group-item,
//.box2 form .group-item {
//    margin: 15px 0;
//    height: 80px;
//    width: 100%;
//    display: block;
//}

//::ng-deep .p-col-6{
//    padding: 0 14px;
//}

i {
    cursor: pointer;
}
//
.box .group-item label,
.box2  .group-item label {
    display: block;
    color: #4C489D;
    font-weight: 600;
    margin-bottom: 5px;
}
.box2  .group-item,
.box  .group-item{
    height: 80px;
}
.box  .group-item input,
.box2  .group-item input {
    width: 100%;
}



::ng-deep .p-calendar .p-inputtext {
    width: 265px !important;
}

.p-invalid {
    display: block;
    color: red;
}



.inputWrapper {
    height: 220px;
    width: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background: none;

    color: black;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
}
.image-wrap {
    height: 200px;
    width: 300px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background: none;

    color: black;
    border: 1px solid #ccc;
}
.inputWrapper  img{
    width: 100%;
    height: 100%;
    //height: 200px;
}


.fileInput {
    cursor: pointer;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 99;
    font-size:50px;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}



//::ng-deep input::-webkit-file-upload-button{
//    display: none;
//}




::ng-deep .inputWrapper  i.pi-camera{
    position: absolute;
    font-size: 68px !important;
    margin-top: 70px;
    margin-left: 120px;
}

::ng-deep .inputWrapper  i.pi-pencil{
    opacity: 0;
    position: absolute;
    font-size: 68px !important;
    margin-top: 70px;
    margin-left: 120px;
    transition: 0.5s;
}



::ng-deep .inputWrapper:hover {
    background: none;
    border: 1px solid blue;
    color: blue;
}

::ng-deep .inputWrapper:hover   i.pi-pencil{
    opacity: 1;
    color: blue;
    transition: 0.5s;

}

::ng-deep .p-button-label {
    display: block;
    width: 200px;
    font-weight: 700;
    font-size: 16px;
}

::ng-deep .p-button .p-button-icon-left {
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 40px;
}


.add-block {
    display: flex;
    justify-content: flex-end;
    gap: 0 10px;

    .p-button{
        width: 80px !important;
        float: right;
        background: #30A059;
    }

        .send{
            span{
                margin-left: 25px;
                font-size: 16px !important;
            }
            width: 150px !important;
        }
}


.delete-block {

    height: 50px;
   button{
       float: right;
       background: #fff;
       color: red;
       border: 1px solid red;
   }
}

.warning-block{
    color: #ffbb00;
    display: flex;
    align-items: center;
    padding-bottom: 0;
    margin: 0;
    i{
        font-size: 18px;
    }
}
.send-block{
    display: flex;
    justify-content: center;
}
.send-block button{

    border: 1px solid #30A059;
    border-radius: 5px;
}

@media (max-width: 425px) {
    .block,
    .box {
        margin: 20px 0;
        width: 360px;
    }
    .header .logo img.showImg {
        display: none;
    }
    .header .logo img.hideImg {
        width: 80px;
        display: block;
        height: 60px;
    }
    ::ng-deep .inputWrapper  i.pi-camera{
        position: absolute;
        font-size: 68px !important;
        margin-top: 70px;
        margin-left: 45px;
    }

    .add-block {
        display: flex;
        justify-content: flex-end;
        gap: 0 10px;
        .p-button{
            width: 60px !important;
            float: right;
            background: #30A059;
        }

        .send{

            span{
                margin: 0 !important;
                text-align: center;
                font-size: 16px !important;
            }
            width: 100px !important;
        }
    }

}

@media (max-width: 320px) {
    .block,
    .box {
        margin: 20px 0;
        padding: 10px;
        width: 300px;
    }
    .header .logo img.showImg {
        display: none;
    }

    ::ng-deep .inputWrapper  i.pi-camera{
        position: absolute;
        font-size: 68px !important;
        margin-top: 70px;
        margin-left: 25px;
    }

    .add-block {
        display: flex;
        justify-content: center;
    }


    .box  .group-item input {
        margin: 0 20px !important;
        width: 280px;
    }

    .box .group-item label, {
        margin: 0 20px !important;
        width: 280px;
    }

    ::ng-deep .box .p-calendar .p-inputtext {
        width: 245px !important;
        margin-left: 20px;
    }

    .search{
        margin-right: 110px;
    }
}

