.vacanciesForm{
 text-align: center;

}

.group-item{
  width: 350px;
  height: 120px;
  margin: 70px auto;
}

.group-item.resume button{
  width: 100px;
}

nz-select {
  width: 250px;
}

label {
  display: block;
  margin-bottom: 10px;
}
