
<div class="main">
    <div class="header">
        <h1 class="header-title">
            Резюме
        </h1>
        <div class="logo">
            <img class="showImg" src="../../../assets/img.png" alt="#">
            <img class="hideImg" src="../../../assets/davrLoggo.jpg" alt="#">
        </div>
    </div>
    <div class="card">


        <p-steps [model]="items" [readonly]="stepActive"></p-steps>
    </div>
    <div class="btn-block">
        <button *ngIf="!mainExit" pButton pRipple type="button"  class="p-button-success" routerLink="/vacancies">

            <i class="pi pi-arrow-left" ></i>
            <span>Выход</span>
        </button>
        <button *ngIf="mainExit" pButton pRipple type="button"  class="p-button-success" routerLink="/welcome">

            <i class="pi pi-arrow-left" ></i>
            <span>Выход</span>
        </button>

    </div>
    <div class="content">

        <router-outlet></router-outlet>
    </div>
</div>
