
.header {
    width: 100%;
    height: 80px;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: -1px 11px 5px -4px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: -1px 11px 5px -4px rgba(34, 60, 80, 0.6);
    box-shadow: -1px 11px 5px -4px rgba(34, 60, 80, 0.6);
    position: relative;
    z-index: 99;
    background: #fff;
}

.header-title {
    color: #0652cb;
    margin-top: 8px;
    cursor: pointer;
    //margin-left: 8px;
    font-size: 35px;
}

.header .logo {
    float: right;
}

.header .logo img.showImg {
    width: 250px;
}

.header .logo img.hideImg {
    display: none;
}

//

.main {
    width: 100%;
    height: auto;
}

.content {
    width: 100%;
    padding: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 425px) {
    .block,
    .box {
        margin: 20px 0;
        width: 360px;
    }
    .header .logo img.showImg {
        display: none;
    }
    .header .logo img.hideImg {
        width: 80px;
        display: block;
        height: 60px;
    }

    ::ng-deep .p-steps ul {

        //display: block !important;
    }
    ::ng-deep .p-steps ul li{
        width: 60px;
        text-align: left;
    }

    ::ng-deep .p-steps .p-steps-item .p-menuitem-link .p-steps-title {

        font-size: 0.78rem;
    }
    ::ng-deep .p-steps ul {
        gap: 0 5px;
    }

}

@media (max-width: 320px) {
    .block,
    .box {
        margin: 20px 0;
        padding: 10px;
        width: 300px;
    }
    .header .logo img.showImg {
        display: none;
    }
}
